@import "tailwindcss";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-bg-color: #EEF0EB;
    --secondary-bg-color: #C3D9A5;
    --third-bg-color: #fff;
    --primary-text-color: #4C4C4C;
    --secondary-text-color: #EEF0EB;
    --third-text-color: #6B7280;
    --primary-highlight-color: #c52222;
    --secondary-highlight-color: #F3F7ED;
    --third-highlight-color: #E9EFFD;

    --error-color: #DA0101;
    --succes-color: #007A52;

    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --border-radius-lg: 10000px;

    --primary-font: "Kantumruy Pro", sans-serif;

    --font-weight-r: 300;
    --font-weight-m: 500;
    --font-weight-b: 700;

    /* Spacing */
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-bg-color);
}

h1,
h2,
h3 {
    font-weight: var(--font-weight-m);
    color: var(--primary-text-color);
}

h4,
h5,
h6 {
    font-weight: var(--font-weight-s);
    color: var(--primary-text-color);
}

h1 {
    font-size: clamp(2.5rem, 1.954rem + 2.2989vw, 3.75rem);
}

h2 {
    font-size: clamp(2.1875rem, 1.8326rem + 1.4943vw, 3rem);
}

h3 {
    font-size: clamp(1.875rem, 1.602rem + 1.1494vw, 2.5rem);
}

h4 {
    font-size: clamp(1.6875rem, 1.551rem + 0.5747vw, 2rem);
}

h5 {
    font-size: clamp(1.25rem, 1.1408rem + 0.4598vw, 1.5rem);
}

h6 {
    font-size: clamp(1.125rem, 1.0704rem + 0.2299vw, 1.25rem);
}

p {
    font-size: 16px;
    line-height: 27px;
    color: var(--primary-text-color);
    font-weight: var(--font-weight-r);
}

/* Focus state */
*:focus-visible {
    outline: 3px dashed var(--primary-highlight-color);
    outline-offset: 4px;
}

/* Valid & Invalid state */
.login-form input:not(:placeholder-shown):invalid,
.register-form input:not(:placeholder-shown):invalid {
    @apply outline outline-red-500 outline-2 rounded-md;
}

.login-form input:not(:placeholder-shown):valid,
.register-form input:not(:placeholder-shown):valid {
    @apply outline outline-[#C3D9A5] outline-2 rounded-md;
}

/* Darkmode */
/* @media (prefers-color-scheme: dark) {
    :root {
        --primary-bg-color: #4C4C4C;
        --secondary-bg-color: #6E7467;
        --primary-text-color: #FFFFFF;
        --secondary-text-color: #FFFFFF;
        --primary-highlight-color: #dc3232;
    }
  } */

html:not(.js) {
    @view-transition {
        navigation: auto;
    }

    ::view-transition-old(*) {
        opacity: 1;
    }

    ::view-transition-new(*) {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
}

html.no-js body {
    opacity: 0;
    animation: fadeNoJS 0.3s ease-out forwards;
}

@keyframes fadeNoJS {
    to {
        opacity: 1;
    }
}

/* Hide page transition when JavaScript is disabled */
html:not(.js) .page-transition-loader {
    display: none !important;
}

html:not(.js) .page-transition-content {
    opacity: 1 !important;
    transform: none !important;
}

/* ----------------------- Status ---------------------- */
.status-select {
    appearance: base-select;
}

/* state styling */
.status-select:has(option:not([hidden]):checked) {
    color: #18181b;
}

/* remove arrow */
.status-select::picker-icon {
    content: "";
    width: 1rem;
    height: 1rem;
    background: center / contain no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%2318181b' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
}

/* dropdown panel */
.status-select::picker(select) {
    appearance: base-select;
    border: 1px solid #e4e4e7;
    padding: 0.25rem;
    margin-top: 0.25rem;
    border-radius: 0.375rem;
    cursor: default;

    transition: opacity 225ms ease, transform 225ms ease;
    transform-origin: top;
}

/* animation */
.status-select::picker(select) {
    transform: translateY(0);
    opacity: 1;
}

@starting-style {
    .status-select::picker(select) {
        transform: translateY(-0.25rem) scale(0.95);
        opacity: 0;
    }
}

/* checkmark */
.status-select option::after {
    content: "";
    width: 1rem;
    height: 1.5rem;
    margin-left: auto;
    opacity: 0;
}

/* remove native */
.status-select option::checkmark {
    display: none;
}

/* selected */
.status-select option:checked {
    background-color: var(--secondary-bg-color);
}

.status-select option:checked::after {
    opacity: 1;
    background: center / contain no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%2318181b' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
}